<table class="table">
  <thead>
    <tr>
	  <th width="85%"> </th>
	  <th width="15%"> </th>
     </tr>
  </thead>

  
  
  
  <tbody>
  
     <tr>
        


<td>
<% if user_signed_in? %> 
 <% if current_user.admin %>
     <%= link_to 'New Post', new_post_path, :class => "btn btn-info"%>
  <% end %> 
  <ul>
       <% @posts.includes(:user).each do |p| %>
            <li>
                <h3><%= link_to p.title, post_path(p.to_param) %></h3>
			    <p5><p class="bg-info">Posted: <%= p.user.name %> at <%= p.created_at %></p></p5>
                <p><%= markdown(p.body) %></p>
            </li>
        <% end %>
    </ul>
<% else %>
  <ul>
        <% @posts.includes(:user).each do |p| %>
		 <% if (!p.hidden) %>
            <li>
                <h3><%= link_to p.title, post_path(p.id) %></h3>
			    <p5><p class="bg-info">Posted: <%= p.user.name %> at <%= p.created_at %></p></p5>
                <p><%= markdown(p.body) %></p>
            </li>
        <% end %>
	  <% end %>	
    </ul>
  <% end %> 
 
 
 
 
 
	      <%= paginate(@posts) %>
</td>
	
<td>
</br>
</br>
<h4>Blog Categories</h4>

<p4>Blog Archive</p4>
<% @posts.organize_posts.to_a.reverse.each do |year, months_with_entries| %>
      <% d = DateTime.parse("1/#{year}") %>

      <li> <span></span>
        <%= link_to(year, archive_path(:year => d.year)) %>

        <ul class="months">
          <% months_with_entries.each do |month, entries| %>
            <% d = DateTime.parse("#{year}, #{month}") %>

            <li> <span></span>
              <%= link_to I18n.l(d, :format => "%B"), root_path %>
			  <span class="badge"><%= @posts.years.count %></span>
            </li>

          <% end %>
        </ul>
      </li>
    <% end %>




<h4>Blog Tag Cloud</h4>
</td>	 

      </tr>
  </tbody>
</table>	 
		
