
 <%= link_to 'New Post', new_post_path %>
 
 
 
 
 <div>
 <%= will_paginate @posts, :page_links => false %>
 
 
 
 
 <ul>
        <% @posts.each do |p| %>
            <li>
                <h3><%= link_to p.title, post_path(p.id) %></h3>
			
                <p><%= markdown(p.body) %></p>
            </li>
        <% end %>
    </ul>
	     <%= will_paginate @posts, :page_links => false %>
		 
		 
		
</div>